/* line 10, ../sass/grid.scss */
img {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

/* line 16, ../sass/grid.scss */
video {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

/* line 24, ../sass/grid.scss */
#vgrid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 29, ../sass/grid.scss */
#vgrid .vheader {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 29, ../sass/grid.scss */
  #vgrid .vheader {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 37, ../sass/grid.scss */
#vgrid .logo {
  background-color: none;
}
@media (min-width: 900px) {
  /* line 37, ../sass/grid.scss */
  #vgrid .logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 44, ../sass/grid.scss */
  #vgrid .menu {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 52, ../sass/grid.scss */
  #vgrid .social_top {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
/* line 60, ../sass/grid.scss */
#vgrid .v50vid_wrap {
  width: 900px;
}
@media (min-width: 900px) {
  /* line 60, ../sass/grid.scss */
  #vgrid .v50vid_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 68, ../sass/grid.scss */
  #vgrid .v50video {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
/* line 75, ../sass/grid.scss */
#vgrid .links {
  width: 900px;
  margin-right: 100%;
}
@media (min-width: 900px) {
  /* line 75, ../sass/grid.scss */
  #vgrid .links {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 83, ../sass/grid.scss */
  #vgrid .link_wrap {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 90, ../sass/grid.scss */
  #vgrid .summits_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 97, ../sass/grid.scss */
  #vgrid .incu_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 104, ../sass/grid.scss */
  #vgrid .show_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 112, ../sass/grid.scss */
  #vgrid .summits {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 119, ../sass/grid.scss */
  #vgrid .summits_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 126, ../sass/grid.scss */
  #vgrid .national {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 133, ../sass/grid.scss */
  #vgrid .community_s {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 139, ../sass/grid.scss */
  #vgrid .join_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 146, ../sass/grid.scss */
  #vgrid .join {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 152, ../sass/grid.scss */
  #vgrid .story {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 159, ../sass/grid.scss */
  #vgrid .reconnect {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 165, ../sass/grid.scss */
  #vgrid .social_share_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 172, ../sass/grid.scss */
  #vgrid .social_share {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 178, ../sass/grid.scss */
  #vgrid .share1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 184, ../sass/grid.scss */
  #vgrid .share2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 189, ../sass/grid.scss */
  #vgrid .share3 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 195, ../sass/grid.scss */
  #vgrid .share4 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 201, ../sass/grid.scss */
  #vgrid .share5 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 207, ../sass/grid.scss */
  #vgrid .share6 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
/* line 213, ../sass/grid.scss */
#vgrid .organize_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 213, ../sass/grid.scss */
  #vgrid .organize_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
/* line 220, ../sass/grid.scss */
#vgrid .organize {
  clear: both;
}
@media (min-width: 900px) {
  /* line 220, ../sass/grid.scss */
  #vgrid .organize {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 227, ../sass/grid.scss */
#vgrid .organize_lt {
  clear: both;
}
@media (min-width: 900px) {
  /* line 227, ../sass/grid.scss */
  #vgrid .organize_lt {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 234, ../sass/grid.scss */
#vgrid .tools_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 234, ../sass/grid.scss */
  #vgrid .tools_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 241, ../sass/grid.scss */
  #vgrid .tools {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
/* line 248, ../sass/grid.scss */
#vgrid .organize_rt {
  clear: both;
}
@media (min-width: 900px) {
  /* line 248, ../sass/grid.scss */
  #vgrid .organize_rt {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
/* line 255, ../sass/grid.scss */
#vgrid .help_desk_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 255, ../sass/grid.scss */
  #vgrid .help_desk_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 262, ../sass/grid.scss */
  #vgrid .help_desk {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 269, ../sass/grid.scss */
  #vgrid .incubator_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 276, ../sass/grid.scss */
  #vgrid .incubator {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 282, ../sass/grid.scss */
  #vgrid .incu_works_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 288, ../sass/grid.scss */
  #vgrid .incu_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 294, ../sass/grid.scss */
  #vgrid .showcase_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 301, ../sass/grid.scss */
  #vgrid .showcase {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 308, ../sass/grid.scss */
  #vgrid .case_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 314, ../sass/grid.scss */
  #vgrid .case_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
/* line 320, ../sass/grid.scss */
#vgrid .past {
  clear: both;
}
@media (min-width: 900px) {
  /* line 320, ../sass/grid.scss */
  #vgrid .past {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 329, ../sass/grid.scss */
#vgrid .past_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 329, ../sass/grid.scss */
  #vgrid .past_title {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 338, ../sass/grid.scss */
#vgrid .photos_wrap {
  clear: both;
}
@media (min-width: 900px) {
  /* line 338, ../sass/grid.scss */
  #vgrid .photos_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
/* line 345, ../sass/grid.scss */
#vgrid .photo_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 345, ../sass/grid.scss */
  #vgrid .photo_title {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 352, ../sass/grid.scss */
#vgrid .photos {
  clear: both;
}
@media (min-width: 900px) {
  /* line 352, ../sass/grid.scss */
  #vgrid .photos {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 359, ../sass/grid.scss */
#vgrid .video_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 359, ../sass/grid.scss */
  #vgrid .video_title {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 366, ../sass/grid.scss */
#vgrid .past_videos {
  clear: both;
}
@media (min-width: 900px) {
  /* line 366, ../sass/grid.scss */
  #vgrid .past_videos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
/* line 373, ../sass/grid.scss */
#vgrid .past_video1 {
  clear: both;
}
@media (min-width: 900px) {
  /* line 373, ../sass/grid.scss */
  #vgrid .past_video1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 379, ../sass/grid.scss */
  #vgrid .past_video2 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 384, ../sass/grid.scss */
  #vgrid .past_video3 {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 393, ../sass/grid.scss */
#vgrid .audio_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 393, ../sass/grid.scss */
  #vgrid .audio_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
/* line 400, ../sass/grid.scss */
#vgrid .audio_wrap {
  clear: both;
}
@media (min-width: 900px) {
  /* line 400, ../sass/grid.scss */
  #vgrid .audio_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 407, ../sass/grid.scss */
  #vgrid .audio1 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 413, ../sass/grid.scss */
  #vgrid .audio2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 420, ../sass/grid.scss */
  #vgrid .audio3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 427, ../sass/grid.scss */
  #vgrid .audio4 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 434, ../sass/grid.scss */
  #vgrid .audio5 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 440, ../sass/grid.scss */
  #vgrid .audio6 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
/* line 446, ../sass/grid.scss */
#vgrid .poster_title {
  clear: both;
}
@media (min-width: 900px) {
  /* line 446, ../sass/grid.scss */
  #vgrid .poster_title {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 453, ../sass/grid.scss */
#vgrid .posters_wrap {
  clear: both;
}
@media (min-width: 900px) {
  /* line 453, ../sass/grid.scss */
  #vgrid .posters_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
/* line 460, ../sass/grid.scss */
#vgrid .posters {
  clear: both;
}
@media (min-width: 900px) {
  /* line 460, ../sass/grid.scss */
  #vgrid .posters {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 467, ../sass/grid.scss */
  #vgrid .future_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
/* line 474, ../sass/grid.scss */
#vgrid .future {
  clear: both;
}
@media (min-width: 900px) {
  /* line 474, ../sass/grid.scss */
  #vgrid .future {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 481, ../sass/grid.scss */
  #vgrid .donate_info {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 487, ../sass/grid.scss */
  #vgrid .pay {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 494, ../sass/grid.scss */
  #vgrid .footer_area {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 500, ../sass/grid.scss */
  #vgrid .footer_logo1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 506, ../sass/grid.scss */
  #vgrid .footer_logo2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 512, ../sass/grid.scss */
  #vgrid .footer_menu_rt {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 518, ../sass/grid.scss */
  #vgrid .footer_menu_lt {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 524, ../sass/grid.scss */
  #vgrid .social_bottom {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none;
  }
}
