/* line 14, ../sass/grid.scss */
#vgrid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 19, ../sass/grid.scss */
#vgrid .vheader {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 19, ../sass/grid.scss */
  #vgrid .vheader {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 27, ../sass/grid.scss */
#vgrid .logo {
  background-color: none;
}
@media (min-width: 900px) {
  /* line 27, ../sass/grid.scss */
  #vgrid .logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
/* line 34, ../sass/grid.scss */
#vgrid .menu {
  background-color: #556b9a;
}
@media (min-width: 900px) {
  /* line 34, ../sass/grid.scss */
  #vgrid .menu {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
/* line 42, ../sass/grid.scss */
#vgrid .social_top {
  background-image: url("/sites/default/files/homepage_images/white_lines.png");
}
@media (min-width: 900px) {
  /* line 42, ../sass/grid.scss */
  #vgrid .social_top {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 51, ../sass/grid.scss */
#vgrid .v50vid_wrap {
  width: 900px;
}
@media (min-width: 900px) {
  /* line 51, ../sass/grid.scss */
  #vgrid .v50vid_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 59, ../sass/grid.scss */
  #vgrid .v50video {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
/* line 66, ../sass/grid.scss */
#vgrid .links {
  width: 900px;
  margin-right: 100%;
}
@media (min-width: 900px) {
  /* line 66, ../sass/grid.scss */
  #vgrid .links {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 74, ../sass/grid.scss */
  #vgrid .link_wrap {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 81, ../sass/grid.scss */
  #vgrid .summits_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 88, ../sass/grid.scss */
  #vgrid .incu_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 95, ../sass/grid.scss */
  #vgrid .show_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 103, ../sass/grid.scss */
  #vgrid .summits {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 110, ../sass/grid.scss */
#vgrid .summits_title {
  color: #29476b;
}
@media (min-width: 900px) {
  /* line 110, ../sass/grid.scss */
  #vgrid .summits_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 117, ../sass/grid.scss */
  #vgrid .national {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 124, ../sass/grid.scss */
  #vgrid .community_s {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 130, ../sass/grid.scss */
  #vgrid .join_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 137, ../sass/grid.scss */
  #vgrid .join {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 143, ../sass/grid.scss */
  #vgrid .story {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 150, ../sass/grid.scss */
  #vgrid .reconnect {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 156, ../sass/grid.scss */
  #vgrid .social_share_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 163, ../sass/grid.scss */
  #vgrid .social_share {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 169, ../sass/grid.scss */
  #vgrid .share1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 175, ../sass/grid.scss */
  #vgrid .share2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 180, ../sass/grid.scss */
  #vgrid .share3 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 186, ../sass/grid.scss */
  #vgrid .share4 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 192, ../sass/grid.scss */
  #vgrid .share5 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 198, ../sass/grid.scss */
  #vgrid .share6 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 204, ../sass/grid.scss */
  #vgrid .organize_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 211, ../sass/grid.scss */
  #vgrid .organize {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 218, ../sass/grid.scss */
  #vgrid .tools {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 225, ../sass/grid.scss */
  #vgrid .help_desk {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 231, ../sass/grid.scss */
  #vgrid .incubator_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 238, ../sass/grid.scss */
  #vgrid .incubator {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 244, ../sass/grid.scss */
  #vgrid .incu_works_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 250, ../sass/grid.scss */
  #vgrid .incu_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 256, ../sass/grid.scss */
  #vgrid .showcase_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 263, ../sass/grid.scss */
  #vgrid .showcase {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 270, ../sass/grid.scss */
  #vgrid .case_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 276, ../sass/grid.scss */
  #vgrid .case_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 284, ../sass/grid.scss */
  #vgrid .future_title {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 291, ../sass/grid.scss */
  #vgrid .future {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 297, ../sass/grid.scss */
  #vgrid .donate_info {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 303, ../sass/grid.scss */
  #vgrid .pay {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 310, ../sass/grid.scss */
  #vgrid .footer_area {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 316, ../sass/grid.scss */
  #vgrid .footer_logo1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 322, ../sass/grid.scss */
  #vgrid .footer_logo2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 328, ../sass/grid.scss */
  #vgrid .footer_menu {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 334, ../sass/grid.scss */
  #vgrid .social_bottom {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 340, ../sass/grid.scss */
  #vgrid .past {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 349, ../sass/grid.scss */
  #vgrid .past_title {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 357, ../sass/grid.scss */
  #vgrid .photo_title {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 364, ../sass/grid.scss */
  #vgrid .photos_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 370, ../sass/grid.scss */
  #vgrid .photos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 377, ../sass/grid.scss */
  #vgrid .video_title {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 384, ../sass/grid.scss */
  #vgrid .past_videos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 391, ../sass/grid.scss */
  #vgrid .past_video1 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 396, ../sass/grid.scss */
  #vgrid .past_video2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 401, ../sass/grid.scss */
  #vgrid .past_video3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 407, ../sass/grid.scss */
  #vgrid .audio_title {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 414, ../sass/grid.scss */
  #vgrid .audio_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 420, ../sass/grid.scss */
  #vgrid .audio1 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 426, ../sass/grid.scss */
  #vgrid .audio2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 433, ../sass/grid.scss */
  #vgrid .audio3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 440, ../sass/grid.scss */
  #vgrid .audio4 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 447, ../sass/grid.scss */
  #vgrid .audio5 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 453, ../sass/grid.scss */
  #vgrid .audio6 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 459, ../sass/grid.scss */
  #vgrid .poster_title {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 466, ../sass/grid.scss */
  #vgrid .posters_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 472, ../sass/grid.scss */
  #vgrid .posters {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
