/* line 11, ../sass/grid.scss */
img {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

/* line 17, ../sass/grid.scss */
video {
  max-width: 100%;
  width: auto !important;
  height: auto !important;
}

/* line 24, ../sass/grid.scss */
.v50interior {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (min-width: 900px) {
  /* line 24, ../sass/grid.scss */
  .v50interior {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 35, ../sass/grid.scss */
.v50texture, #vgrid #v50vid_wrap, #vgrid #links, #vgrid .link_wrap, #vgrid #summits, #vgrid #organize, #vgrid #incubator, #vgrid #showcase, #vgrid #past, #vgrid .pastInner, #vgrid .audio_wrap, #vgrid .audio1, #vgrid .audio3, #vgrid .audio5, #vgrid .audio2, #vgrid .audio4, #vgrid .audio6, #vgrid .posters, #vgrid #future {
  background-image: url("/sites/default/files/texture.png");
}

/* line 41, ../sass/grid.scss */
#vgrid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 45, ../sass/grid.scss */
#vgrid .vheader {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 45, ../sass/grid.scss */
  #vgrid .vheader {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 53, ../sass/grid.scss */
#vgrid .logo {
  background-color: none;
}
@media (min-width: 900px) {
  /* line 53, ../sass/grid.scss */
  #vgrid .logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 60, ../sass/grid.scss */
  #vgrid .menu {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 68, ../sass/grid.scss */
  #vgrid .social_top {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
/* line 76, ../sass/grid.scss */
#vgrid #v50vid_wrap {
  background-color: #b6b6b8;
}
@media (min-width: 900px) {
  /* line 76, ../sass/grid.scss */
  #vgrid #v50vid_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 85, ../sass/grid.scss */
  #vgrid .v50video {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 92, ../sass/grid.scss */
  #vgrid #links {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 99, ../sass/grid.scss */
#vgrid .link_wrap {
  text-align: center;
  background-color: #b6b6b8;
  padding: 20px;
}
@media (min-width: 900px) {
  /* line 106, ../sass/grid.scss */
  #vgrid .summits_link {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 113, ../sass/grid.scss */
  #vgrid .incu_link {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 120, ../sass/grid.scss */
  #vgrid .show_link {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 129, ../sass/grid.scss */
#vgrid #summits {
  background-color: #b6b6b8;
  color: #1d2d5b;
}
@media (min-width: 900px) {
  /* line 129, ../sass/grid.scss */
  #vgrid #summits {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 139, ../sass/grid.scss */
#vgrid .national {
  color: #424144;
}
@media (min-width: 900px) {
  /* line 139, ../sass/grid.scss */
  #vgrid .national {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 147, ../sass/grid.scss */
#vgrid .community_s {
  color: #424144;
}
@media (min-width: 900px) {
  /* line 147, ../sass/grid.scss */
  #vgrid .community_s {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 156, ../sass/grid.scss */
#vgrid #join {
  color: #fff;
  background-image: url("/sites/default/files/social_bg.png");
}
@media (min-width: 900px) {
  /* line 156, ../sass/grid.scss */
  #vgrid #join {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 164, ../sass/grid.scss */
  #vgrid .story {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 171, ../sass/grid.scss */
  #vgrid .reconnect {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 179, ../sass/grid.scss */
  #vgrid #social_share {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 186, ../sass/grid.scss */
  #vgrid .share1, #vgrid .share4 {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 193, ../sass/grid.scss */
  #vgrid .share2, #vgrid .share5 {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 199, ../sass/grid.scss */
  #vgrid .share3, #vgrid .share6 {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 207, ../sass/grid.scss */
#vgrid #organize {
  color: #1d2d5b;
  background-color: #b6b6b8;
  clear: both;
}
@media (min-width: 900px) {
  /* line 207, ../sass/grid.scss */
  #vgrid #organize {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 217, ../sass/grid.scss */
#vgrid .organize_lt {
  clear: both;
}
@media (min-width: 900px) {
  /* line 217, ../sass/grid.scss */
  #vgrid .organize_lt {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 225, ../sass/grid.scss */
#vgrid .organize_rt {
  clear: both;
}
@media (min-width: 900px) {
  /* line 225, ../sass/grid.scss */
  #vgrid .organize_rt {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 233, ../sass/grid.scss */
  #vgrid .tools {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 241, ../sass/grid.scss */
  #vgrid .help_desk {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 250, ../sass/grid.scss */
#vgrid #incubator {
  color: #fff;
}
@media (min-width: 900px) {
  /* line 250, ../sass/grid.scss */
  #vgrid #incubator {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 258, ../sass/grid.scss */
#vgrid .incu_works_img, #vgrid .case_img {
  text-align: center;
}
@media (min-width: 900px) {
  /* line 258, ../sass/grid.scss */
  #vgrid .incu_works_img, #vgrid .case_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 266, ../sass/grid.scss */
  #vgrid .incu_works, #vgrid .case_works {
    width: 66.10169%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 274, ../sass/grid.scss */
#vgrid #showcase {
  color: #1d2d5b;
  background-color: #b6b6b8;
}
@media (min-width: 900px) {
  /* line 274, ../sass/grid.scss */
  #vgrid #showcase {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 283, ../sass/grid.scss */
#vgrid #past {
  color: #fff;
  clear: both;
}
@media (min-width: 900px) {
  /* line 283, ../sass/grid.scss */
  #vgrid #past {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 294, ../sass/grid.scss */
#vgrid .pastWrap {
  background-image: url("/sites/default/files/white_lines.png");
  padding: 40px;
}
/* line 301, ../sass/grid.scss */
#vgrid .pastInner {
  clear: both;
  padding: 20px;
  background-color: #424144;
}
/* line 309, ../sass/grid.scss */
#vgrid .past_video1 {
  clear: both;
}
@media (min-width: 900px) {
  /* line 309, ../sass/grid.scss */
  #vgrid .past_video1 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 315, ../sass/grid.scss */
#vgrid .past_video2 {
  margin-top: 20px;
}
@media (min-width: 900px) {
  /* line 315, ../sass/grid.scss */
  #vgrid .past_video2 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
/* line 321, ../sass/grid.scss */
#vgrid .past_video3 {
  margin-top: 20px;
}
@media (min-width: 900px) {
  /* line 321, ../sass/grid.scss */
  #vgrid .past_video3 {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 329, ../sass/grid.scss */
#vgrid .audio_wrap {
  float: right;
  clear: both;
}
@media (min-width: 900px) {
  /* line 329, ../sass/grid.scss */
  #vgrid .audio_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 338, ../sass/grid.scss */
  #vgrid .audio1, #vgrid .audio3, #vgrid .audio5 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 345, ../sass/grid.scss */
  #vgrid .audio2, #vgrid .audio4, #vgrid .audio6 {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 353, ../sass/grid.scss */
#vgrid .posters_wrap {
  clear: both;
}
@media (min-width: 900px) {
  /* line 353, ../sass/grid.scss */
  #vgrid .posters_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 360, ../sass/grid.scss */
#vgrid .posters {
  clear: both;
}
@media (min-width: 900px) {
  /* line 360, ../sass/grid.scss */
  #vgrid .posters {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 368, ../sass/grid.scss */
#vgrid #future {
  color: #1d2d5b;
  background-color: #b6b6b8;
  clear: both;
}
@media (min-width: 900px) {
  /* line 368, ../sass/grid.scss */
  #vgrid #future {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 378, ../sass/grid.scss */
  #vgrid .donate_info {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 384, ../sass/grid.scss */
  #vgrid .pay {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 390, ../sass/grid.scss */
#vgrid .footer_area {
  background-color: #424144;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  /* line 395, ../sass/grid.scss */
  #vgrid .footer_area .v50footerInterior {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 900px) {
  /* line 404, ../sass/grid.scss */
  #vgrid .footer_logo1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 410, ../sass/grid.scss */
  #vgrid .footer_logo2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 416, ../sass/grid.scss */
  #vgrid .footer_menu {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 421, ../sass/grid.scss */
  #vgrid .footer_menu_rt {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 427, ../sass/grid.scss */
  #vgrid .footer_menu_lt {
    width: 49.15254%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 433, ../sass/grid.scss */
  #vgrid .social_bottom {
    width: 32.20339%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
