.main-menu {
  margin: 0;
  padding: 0;
  background: #184778;
}



.main-menu li {
  list-style: none;  
  float: left; 
	width: auto;
	border: 3px solid #184778;
	font-family: 'Oswald', sans-serif; 
	font-size: 14px;
	line-height: 1;
	background: #184778;
}

.main-menu li a {
color: #FFF;
}


.navigation {
	background-color: #184778;
}
