/* line 14, ../sass/grid.scss */
#vgrid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 19, ../sass/grid.scss */
#vgrid .vheader {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 19, ../sass/grid.scss */
  #vgrid .vheader {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 27, ../sass/grid.scss */
#vgrid .logo {
  background-color: none;
}
@media (min-width: 900px) {
  /* line 27, ../sass/grid.scss */
  #vgrid .logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
/* line 34, ../sass/grid.scss */
#vgrid .menu {
  background-color: #556b9a;
}
@media (min-width: 900px) {
  /* line 34, ../sass/grid.scss */
  #vgrid .menu {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
/* line 42, ../sass/grid.scss */
#vgrid .social_top {
  background-image: url("/sites/default/files/homepage_images/white_lines.png");
}
@media (min-width: 900px) {
  /* line 42, ../sass/grid.scss */
  #vgrid .social_top {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
/* line 51, ../sass/grid.scss */
#vgrid .v50vid_wrap {
  width: 900px;
}
@media (min-width: 900px) {
  /* line 51, ../sass/grid.scss */
  #vgrid .v50vid_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 59, ../sass/grid.scss */
  #vgrid .v50video {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
/* line 66, ../sass/grid.scss */
#vgrid .links {
  width: 900px;
  margin-right: 100%;
}
@media (min-width: 900px) {
  /* line 66, ../sass/grid.scss */
  #vgrid .links {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 75, ../sass/grid.scss */
#vgrid .summits_link {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 75, ../sass/grid.scss */
  #vgrid .summits_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 83, ../sass/grid.scss */
  #vgrid .incu_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 90, ../sass/grid.scss */
  #vgrid .show_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 98, ../sass/grid.scss */
  #vgrid .summits {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 104, ../sass/grid.scss */
  #vgrid .national {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 111, ../sass/grid.scss */
  #vgrid .community_s {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 118, ../sass/grid.scss */
  #vgrid .join {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 124, ../sass/grid.scss */
  #vgrid .story {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 131, ../sass/grid.scss */
  #vgrid .reconnect {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 137, ../sass/grid.scss */
  #vgrid .social_share {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 143, ../sass/grid.scss */
  #vgrid .share1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 149, ../sass/grid.scss */
  #vgrid .share2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 154, ../sass/grid.scss */
  #vgrid .share3 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 160, ../sass/grid.scss */
  #vgrid .share4 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 166, ../sass/grid.scss */
  #vgrid .share5 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 172, ../sass/grid.scss */
  #vgrid .share6 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 178, ../sass/grid.scss */
  #vgrid .organize {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 185, ../sass/grid.scss */
  #vgrid .tools {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 192, ../sass/grid.scss */
  #vgrid .help_desk {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 198, ../sass/grid.scss */
  #vgrid .incubator {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 204, ../sass/grid.scss */
  #vgrid .incu_works_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 210, ../sass/grid.scss */
  #vgrid .incu_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 217, ../sass/grid.scss */
  #vgrid .showcase {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 224, ../sass/grid.scss */
  #vgrid .case_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 230, ../sass/grid.scss */
  #vgrid .case_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 236, ../sass/grid.scss */
  #vgrid .past {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 243, ../sass/grid.scss */
  #vgrid .photos_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 249, ../sass/grid.scss */
  #vgrid .photos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 256, ../sass/grid.scss */
  #vgrid .past_videos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 263, ../sass/grid.scss */
  #vgrid .past_video1 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 268, ../sass/grid.scss */
  #vgrid .past_video2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 273, ../sass/grid.scss */
  #vgrid .past_video3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 279, ../sass/grid.scss */
  #vgrid .audio_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 285, ../sass/grid.scss */
  #vgrid .audio1 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 291, ../sass/grid.scss */
  #vgrid .audio2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 298, ../sass/grid.scss */
  #vgrid .audio3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 305, ../sass/grid.scss */
  #vgrid .audio4 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 312, ../sass/grid.scss */
  #vgrid .audio5 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 318, ../sass/grid.scss */
  #vgrid .audio6 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 324, ../sass/grid.scss */
  #vgrid .posters_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 330, ../sass/grid.scss */
  #vgrid .posters {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 336, ../sass/grid.scss */
  #vgrid .future {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 342, ../sass/grid.scss */
  #vgrid .donate_info {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 348, ../sass/grid.scss */
  #vgrid .pay {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 355, ../sass/grid.scss */
  #vgrid .footer_area {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 361, ../sass/grid.scss */
  #vgrid .footer_logo1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 367, ../sass/grid.scss */
  #vgrid .footer_logo2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 373, ../sass/grid.scss */
  #vgrid .footer_menu {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 33.89831%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 379, ../sass/grid.scss */
  #vgrid .social_bottom {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none;
  }
}

/* line 15, ../sass/style.scss */
.img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* line 23, ../sass/style.scss */
.block-main-menu {
  background: #184778;
}

/* line 30, ../sass/style.scss */
.vgrid {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 35, ../sass/style.scss */
.vheader {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 41, ../sass/style.scss */
.section-header {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 47, ../sass/style.scss */
.section-content {
  background: #1d2d5b;
  background-image: url("/sites/default/files/texture.png");
}

/* line 53, ../sass/style.scss */
.section-footer {
  background: #bbbdbf;
}

/* line 57, ../sass/style.scss */
.social_top {
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 61, ../sass/style.scss */
.v50vid_wrap {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
  width: 100%;
}

/* line 68, ../sass/style.scss */
.v50video {
  background-image: url("/sites/default/files/IMAGES/homepage_images/Video_Slider_Background.png"), url("/sites/default/files/texture.png");
}

/* line 75, ../sass/style.scss */
.links {
  background-color: #1d2d5b;
  background-image: url("/sites/default/files/texture.png");
  width: 900px;
  margin-right: 100%;
}

/* line 83, ../sass/style.scss */
.summits_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 89, ../sass/style.scss */
.incu_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 95, ../sass/style.scss */
.show_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 102, ../sass/style.scss */
.summits {
  background-color: #e0e0e0;
  background-image: url("/sites/default/files/texture.png");
}

/* line 108, ../sass/style.scss */
.national {
  background-color: none;
}

/* line 114, ../sass/style.scss */
.community_s {
  background-color: none;
}

/* line 120, ../sass/style.scss */
.join {
  background-color: blue;
}

/* line 125, ../sass/style.scss */
.story {
  background-color: none;
}

/* line 131, ../sass/style.scss */
.reconnect {
  background-color: none;
}

/* line 136, ../sass/style.scss */
.social_share {
  background-color: green;
}

/* line 141, ../sass/style.scss */
.share1 {
  background-color: aqua;
}

/* line 146, ../sass/style.scss */
.share2 {
  background-color: aqua;
}

/* line 150, ../sass/style.scss */
.share3 {
  background-color: aqua;
}

/* line 155, ../sass/style.scss */
.share4 {
  background-color: blue;
}

/* line 160, ../sass/style.scss */
.share5 {
  background-color: blue;
}

/* line 165, ../sass/style.scss */
.share6 {
  background-color: blue;
}

/* line 170, ../sass/style.scss */
.organize {
  background-color: #bebebe;
  background-image: url("/sites/default/files/texture.png");
}

/* line 176, ../sass/style.scss */
.tools {
  background-color: none;
}

/* line 181, ../sass/style.scss */
.help_desk {
  background-color: none;
}

/* line 186, ../sass/style.scss */
.incubator {
  background-color: #ebecf0;
  background-image: url("/sites/default/files/texture.png");
}

/* line 191, ../sass/style.scss */
.incu_works_img {
  background-color: none;
}

/* line 195, ../sass/style.scss */
.incu_works {
  background-color: none;
}

/* line 200, ../sass/style.scss */
.showcase {
  background-color: #c2c8d2;
  background-image: url("/sites/default/files/texture.png");
}

/* line 205, ../sass/style.scss */
.case_img {
  background-color: none;
}

/* line 209, ../sass/style.scss */
.case_works {
  background-color: none;
}

/* line 213, ../sass/style.scss */
.past {
  background-color: #341563;
  background-image: url("/sites/default/files/texture.png");
}

/* line 219, ../sass/style.scss */
.photos_wrap {
  background-color: #341563;
  background-image: url("/sites/default/files/texture.png");
}

/* line 225, ../sass/style.scss */
.photos {
  background-color: red;
}

/* line 230, ../sass/style.scss */
.past_videos {
  background-color: #23335F;
}

/* line 235, ../sass/style.scss */
.past_video1 {
  background-color: fuchsia;
}

/* line 239, ../sass/style.scss */
.past_video2 {
  background-color: fuchsia;
}

/* line 243, ../sass/style.scss */
.past_video3 {
  background-color: fuchsia;
}

/* line 248, ../sass/style.scss */
.audio_wrap {
  background-color: #23335F;
}

/* line 253, ../sass/style.scss */
.audio1 {
  background-color: green;
}

/* line 258, ../sass/style.scss */
.audio2 {
  background-color: green;
}

/* line 263, ../sass/style.scss */
.audio3 {
  background-color: green;
}

/* line 268, ../sass/style.scss */
.audio4 {
  background-color: green;
}

/* line 273, ../sass/style.scss */
.audio5 {
  background-color: green;
}

/* line 278, ../sass/style.scss */
.audio6 {
  background-color: green;
}

/* line 283, ../sass/style.scss */
.posters_wrap {
  background-color: #23335F;
}

/* line 288, ../sass/style.scss */
.posters {
  background-color: blue;
}

/* line 292, ../sass/style.scss */
.future {
  background-color: #c9c9c9;
  background-image: url("/sites/default/files/texture.png");
}

/* line 298, ../sass/style.scss */
.donate_info {
  background-color: none;
}

/* line 303, ../sass/style.scss */
.pay {
  background-color: none;
}

/* line 309, ../sass/style.scss */
.footer_area {
  background-color: #424144;
}

/* line 314, ../sass/style.scss */
.footer_logo1 {
  background-color: none;
}

/* line 319, ../sass/style.scss */
.footer_logo2 {
  background-color: none;
}

/* line 324, ../sass/style.scss */
.footer_menu {
  background-color: #424144;
}

/* line 329, ../sass/style.scss */
.social_bottom {
  background-color: none;
}
