/* line 14, ../sass/grid.scss */
#vgrid {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
/* line 19, ../sass/grid.scss */
#vgrid .vheader {
  width: 100%;
}
@media (min-width: 900px) {
  /* line 19, ../sass/grid.scss */
  #vgrid .vheader {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
/* line 27, ../sass/grid.scss */
#vgrid .logo {
  background-color: none;
}
@media (min-width: 900px) {
  /* line 27, ../sass/grid.scss */
  #vgrid .logo {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 34, ../sass/grid.scss */
  #vgrid .menu {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 42, ../sass/grid.scss */
  #vgrid .social_top {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
/* line 50, ../sass/grid.scss */
#vgrid .v50vid_wrap {
  width: 900px;
}
@media (min-width: 900px) {
  /* line 50, ../sass/grid.scss */
  #vgrid .v50vid_wrap {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 58, ../sass/grid.scss */
  #vgrid .v50video {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
/* line 65, ../sass/grid.scss */
#vgrid .links {
  width: 900px;
  margin-right: 100%;
}
@media (min-width: 900px) {
  /* line 65, ../sass/grid.scss */
  #vgrid .links {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 73, ../sass/grid.scss */
  #vgrid .link_wrap {
    width: 66.10169%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 80, ../sass/grid.scss */
  #vgrid .summits_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 87, ../sass/grid.scss */
  #vgrid .incu_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 94, ../sass/grid.scss */
  #vgrid .show_link {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 102, ../sass/grid.scss */
  #vgrid .summits {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 109, ../sass/grid.scss */
  #vgrid .summits_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 116, ../sass/grid.scss */
  #vgrid .national {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 123, ../sass/grid.scss */
  #vgrid .community_s {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 129, ../sass/grid.scss */
  #vgrid .join_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 136, ../sass/grid.scss */
  #vgrid .join {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 142, ../sass/grid.scss */
  #vgrid .story {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 149, ../sass/grid.scss */
  #vgrid .reconnect {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 155, ../sass/grid.scss */
  #vgrid .social_share_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 162, ../sass/grid.scss */
  #vgrid .social_share {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 168, ../sass/grid.scss */
  #vgrid .share1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 174, ../sass/grid.scss */
  #vgrid .share2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 179, ../sass/grid.scss */
  #vgrid .share3 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 185, ../sass/grid.scss */
  #vgrid .share4 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 191, ../sass/grid.scss */
  #vgrid .share5 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 197, ../sass/grid.scss */
  #vgrid .share6 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 67.79661%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 203, ../sass/grid.scss */
  #vgrid .organize_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 210, ../sass/grid.scss */
  #vgrid .organize {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 216, ../sass/grid.scss */
  #vgrid .tools_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 223, ../sass/grid.scss */
  #vgrid .tools {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 230, ../sass/grid.scss */
  #vgrid .help_desk_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 236, ../sass/grid.scss */
  #vgrid .help_desk {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 242, ../sass/grid.scss */
  #vgrid .incubator_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 249, ../sass/grid.scss */
  #vgrid .incubator {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 255, ../sass/grid.scss */
  #vgrid .incu_works_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 261, ../sass/grid.scss */
  #vgrid .incu_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 267, ../sass/grid.scss */
  #vgrid .showcase_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 274, ../sass/grid.scss */
  #vgrid .showcase {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 281, ../sass/grid.scss */
  #vgrid .case_img {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 287, ../sass/grid.scss */
  #vgrid .case_works {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 293, ../sass/grid.scss */
  #vgrid .past {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 302, ../sass/grid.scss */
  #vgrid .past_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 311, ../sass/grid.scss */
  #vgrid .photos_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 317, ../sass/grid.scss */
  #vgrid .photo_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 324, ../sass/grid.scss */
  #vgrid .photos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 331, ../sass/grid.scss */
  #vgrid .video_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 338, ../sass/grid.scss */
  #vgrid .past_videos {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 345, ../sass/grid.scss */
  #vgrid .past_video1 {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 350, ../sass/grid.scss */
  #vgrid .past_video2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 355, ../sass/grid.scss */
  #vgrid .past_video3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 361, ../sass/grid.scss */
  #vgrid .audio_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 368, ../sass/grid.scss */
  #vgrid .audio_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 374, ../sass/grid.scss */
  #vgrid .audio1 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 380, ../sass/grid.scss */
  #vgrid .audio2 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 387, ../sass/grid.scss */
  #vgrid .audio3 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 394, ../sass/grid.scss */
  #vgrid .audio4 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 401, ../sass/grid.scss */
  #vgrid .audio5 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 407, ../sass/grid.scss */
  #vgrid .audio6 {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 413, ../sass/grid.scss */
  #vgrid .poster_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 420, ../sass/grid.scss */
  #vgrid .posters_wrap {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 426, ../sass/grid.scss */
  #vgrid .posters {
    width: 49.15254%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 432, ../sass/grid.scss */
  #vgrid .future_title {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 439, ../sass/grid.scss */
  #vgrid .future {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 445, ../sass/grid.scss */
  #vgrid .donate_info {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 16.94915%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 451, ../sass/grid.scss */
  #vgrid .pay {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 50.84746%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 458, ../sass/grid.scss */
  #vgrid .footer_area {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 464, ../sass/grid.scss */
  #vgrid .footer_logo1 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 470, ../sass/grid.scss */
  #vgrid .footer_logo2 {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 25.42373%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 476, ../sass/grid.scss */
  #vgrid .footer_menu_rt {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 482, ../sass/grid.scss */
  #vgrid .footer_menu_lt {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 59.32203%;
    clear: none;
  }
}
@media (min-width: 900px) {
  /* line 488, ../sass/grid.scss */
  #vgrid .social_bottom {
    width: 15.25424%;
    float: left;
    margin-right: -100%;
    margin-left: 76.27119%;
    clear: none;
  }
}

/* line 15, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 23, ../sass/style.scss */
.img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* line 29, ../sass/style.scss */
.logo {
  float: right;
  background-color: none;
  display: block;
}

/* line 35, ../sass/style.scss */
.menu {
  background: #556b9a;
  color: #fff;
  display: inline;
  font-family: "League Gothic", google fonts;
}

/* line 45, ../sass/style.scss */
.vgrid {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 50, ../sass/style.scss */
.vheader {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 56, ../sass/style.scss */
.section-header {
  background: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 62, ../sass/style.scss */
.section-content {
  background: #1d2d5b;
  background-image: url("/sites/default/files/texture.png");
}

/* line 68, ../sass/style.scss */
.section-footer {
  background: #bbbdbf;
}

/* line 72, ../sass/style.scss */
.social_top {
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 76, ../sass/style.scss */
.v50vid_wrap {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
  width: 100%;
}

/* line 83, ../sass/style.scss */
.v50video {
  background-image: url("/sites/default/files/IMAGES/homepage_images/Video_Slider_Background.png"), url("/sites/default/files/texture.png");
}

/* line 90, ../sass/style.scss */
.links {
  background-color: #1d2d5b;
  background-image: url("/sites/default/files/texture.png");
  width: 900px;
  margin-right: 100%;
}

/* line 97, ../sass/style.scss */
.link_wrap {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/texture.png");
}

/* line 102, ../sass/style.scss */
.summits_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 108, ../sass/style.scss */
.incu_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 114, ../sass/style.scss */
.show_link {
  background-color: #b6b6b8;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 121, ../sass/style.scss */
.summits {
  background-color: #e0e0e0;
  background-image: url("/sites/default/files/texture.png");
}

/* line 128, ../sass/style.scss */
.summits_title {
  color: #29476b;
}

/* line 132, ../sass/style.scss */
.national {
  background-color: none;
}

/* line 138, ../sass/style.scss */
.community_s {
  background-color: none;
}

/* line 144, ../sass/style.scss */
.join {
  background-color: blue;
}

/* line 149, ../sass/style.scss */
.story {
  background-color: none;
}

/* line 155, ../sass/style.scss */
.reconnect {
  background-color: none;
}

/* line 160, ../sass/style.scss */
.social_share {
  background-color: green;
}

/* line 165, ../sass/style.scss */
.share1 {
  background-color: aqua;
}

/* line 170, ../sass/style.scss */
.share2 {
  background-color: aqua;
}

/* line 174, ../sass/style.scss */
.share3 {
  background-color: aqua;
}

/* line 179, ../sass/style.scss */
.share4 {
  background-color: blue;
}

/* line 184, ../sass/style.scss */
.share5 {
  background-color: blue;
}

/* line 189, ../sass/style.scss */
.share6 {
  background-color: blue;
}

/* line 194, ../sass/style.scss */
.organize {
  background-color: #bebebe;
  background-image: url("/sites/default/files/texture.png");
}

/* line 200, ../sass/style.scss */
.tools_title {
  background: url("/sites/default/files/IMAGES/solutions summit section/title_bg.png");
}

/* line 205, ../sass/style.scss */
.tools {
  background-color: none;
}

/* line 210, ../sass/style.scss */
.help_desk_title {
  background: url("/sites/default/files/IMAGES/solutions summit section/title_bg.png");
}

/* line 215, ../sass/style.scss */
.help_desk {
  background-color: none;
}

/* line 220, ../sass/style.scss */
.incubator {
  background-color: #ebecf0;
  background-image: url("/sites/default/files/texture.png");
}

/* line 225, ../sass/style.scss */
.incu_works_img {
  background-color: none;
}

/* line 229, ../sass/style.scss */
.incu_works {
  background-color: none;
}

/* line 234, ../sass/style.scss */
.showcase {
  background-color: #c2c8d2;
  background-image: url("/sites/default/files/texture.png");
}

/* line 239, ../sass/style.scss */
.case_img {
  background-color: none;
}

/* line 243, ../sass/style.scss */
.case_works {
  background-color: none;
}

/* line 247, ../sass/style.scss */
.past {
  background-color: #341563;
  background-image: url("/sites/default/files/texture.png");
}

/* line 253, ../sass/style.scss */
.past_title {
  color: #29476b;
}

/* line 259, ../sass/style.scss */
.photos {
  background-color: red;
}

/* line 264, ../sass/style.scss */
.past_videos {
  background-color: #23335F;
}

/* line 269, ../sass/style.scss */
.past_video1 {
  background-color: fuchsia;
}

/* line 273, ../sass/style.scss */
.past_video2 {
  background-color: fuchsia;
}

/* line 277, ../sass/style.scss */
.past_video3 {
  background-color: fuchsia;
}

/* line 282, ../sass/style.scss */
.audio_wrap {
  background-color: #23335F;
}

/* line 287, ../sass/style.scss */
.audio1 {
  background-color: green;
}

/* line 292, ../sass/style.scss */
.audio2 {
  background-color: green;
}

/* line 297, ../sass/style.scss */
.audio3 {
  background-color: green;
}

/* line 302, ../sass/style.scss */
.audio4 {
  background-color: green;
}

/* line 307, ../sass/style.scss */
.audio5 {
  background-color: green;
}

/* line 312, ../sass/style.scss */
.audio6 {
  background-color: green;
}

/* line 317, ../sass/style.scss */
.posters_wrap {
  background-color: #23335F;
}

/* line 322, ../sass/style.scss */
.poster_title {
  background-color: #23335F;
}

/* line 327, ../sass/style.scss */
.posters {
  background-color: blue;
}

/* line 331, ../sass/style.scss */
.future {
  background-color: #c9c9c9;
  background-image: url("/sites/default/files/texture.png");
}

/* line 337, ../sass/style.scss */
.donate_info {
  background-color: none;
}

/* line 343, ../sass/style.scss */
.pay {
  border-color: #ec3e3b;
  border-style: solid;
  border-width: 30px;
}

/* line 351, ../sass/style.scss */
.footer_area {
  background-color: #424144;
}

/* line 372, ../sass/style.scss */
.social_bottom {
  background-color: none;
}
