/* line 3, ../sass/v50-text.scss */
body {
  font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/v50-text.scss */
a:link, a:visited {
  color: #0062A0;
  text-decoration: underline;
}

/* line 12, ../sass/v50-text.scss */
a:hover {
  color: #202124;
  text-decoration: none;
}

/* line 17, ../sass/v50-text.scss */
a:active {
  color: #202124;
  text-decoration: none;
  color: #000;
}

/* line 23, ../sass/v50-text.scss */
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

/* line 31, ../sass/v50-text.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* line 36, ../sass/v50-text.scss */
h1 {
  font-size: 36px;
}

/* line 40, ../sass/v50-text.scss */
h2 {
  font-size: 28px;
  padding: 30px;
  display: inline-block;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 47, ../sass/v50-text.scss */
h3 {
  text-align: center;
  text-transform: uppercase;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
/* line 53, ../sass/v50-text.scss */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
/* line 59, ../sass/v50-text.scss */
h2.block-title {
  font-size: 18px;
  margin: 0;
}

/* line 64, ../sass/v50-text.scss */
h2.node-title {
  font-size: 28px;
}

/* line 68, ../sass/v50-text.scss */
h3 {
  font-size: 21px;
}

/* line 72, ../sass/v50-text.scss */
h4 {
  font-size: 19px;
}

/* line 76, ../sass/v50-text.scss */
h5 {
  font-size: 17px;
}

/* line 80, ../sass/v50-text.scss */
h6 {
  font-size: 15px;
}

/* line 84, ../sass/v50-text.scss */
ol {
  list-style: decimal;
}

/* line 88, ../sass/v50-text.scss */
ul {
  list-style: disc;
}

/* line 92, ../sass/v50-text.scss */
ul ul,
ol ol {
  padding-top: 0.5em;
}

/* line 97, ../sass/v50-text.scss */
.node ol,
.node ul {
  padding-left: 1.2em;
}

/* line 102, ../sass/v50-text.scss */
.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

/* line 107, ../sass/v50-text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 112, ../sass/v50-text.scss */
dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

/* line 117, ../sass/v50-text.scss */
dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
