/* line 3, ../sass/v50-text.scss */
body {
  font: 15px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/v50-text.scss */
p {
  color: #424144;
}

/* line 11, ../sass/v50-text.scss */
a {
  color: #0062A0;
  text-decoration: none;
}

/* line 16, ../sass/v50-text.scss */
a:hover {
  color: #202124;
}

/* line 20, ../sass/v50-text.scss */
a:active {
  color: #202124;
  color: #000;
}

/* line 26, ../sass/v50-text.scss */
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

/* line 34, ../sass/v50-text.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* line 39, ../sass/v50-text.scss */
h1 {
  font-size: 36px;
}

/* line 43, ../sass/v50-text.scss */
h2 {
  font-size: 45px;
  padding: 30px;
  display: inline-block;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 50, ../sass/v50-text.scss */
h3 {
  text-align: center;
  text-transform: uppercase;
  background-image: url("/sites/default/files/title_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
/* line 62, ../sass/v50-text.scss */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
/* line 68, ../sass/v50-text.scss */
h2.block-title {
  font-size: 18px;
  margin: 0;
}

/* line 73, ../sass/v50-text.scss */
h2.node-title {
  font-size: 28px;
}

/* line 77, ../sass/v50-text.scss */
h3 {
  font-size: 21px;
}

/* line 81, ../sass/v50-text.scss */
h4 {
  font-size: 19px;
}

/* line 85, ../sass/v50-text.scss */
h5 {
  font-size: 17px;
}

/* line 89, ../sass/v50-text.scss */
h6 {
  font-size: 15px;
}

/* line 93, ../sass/v50-text.scss */
ol {
  list-style: decimal;
}

/* line 97, ../sass/v50-text.scss */
ul {
  list-style: disc;
}

/* line 101, ../sass/v50-text.scss */
ul ul,
ol ol {
  padding-top: 0.5em;
}

/* line 106, ../sass/v50-text.scss */
.node ol,
.node ul {
  padding-left: 1.2em;
}

/* line 111, ../sass/v50-text.scss */
.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

/* line 116, ../sass/v50-text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 121, ../sass/v50-text.scss */
dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

/* line 126, ../sass/v50-text.scss */
dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
