/* line 3, ../sass/v50-text.scss */
body {
  font: 15px/1.5 Verdana, Helvetica, Arial, sans-serif;
}

/* line 7, ../sass/v50-text.scss */
p {
  color: #424144;
}

/* line 11, ../sass/v50-text.scss */
a:link, a:visited {
  color: #0062A0;
  text-decoration: underline;
}

/* line 16, ../sass/v50-text.scss */
a:hover {
  color: #202124;
  text-decoration: none;
}

/* line 21, ../sass/v50-text.scss */
a:active {
  color: #202124;
  text-decoration: none;
  color: #000;
}

/* line 27, ../sass/v50-text.scss */
hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

/* line 35, ../sass/v50-text.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.05em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

/* line 40, ../sass/v50-text.scss */
h1 {
  font-size: 36px;
}

/* line 44, ../sass/v50-text.scss */
h2 {
  font-size: 45px;
  padding: 30px;
  display: inline-block;
  background-image: url("/sites/default/files/white_lines.png");
}

/* line 51, ../sass/v50-text.scss */
h3 {
  text-align: center;
  text-transform: uppercase;
  background-image: url("/sites/default/files/title_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20px;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
/* line 63, ../sass/v50-text.scss */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
/* line 69, ../sass/v50-text.scss */
h2.block-title {
  font-size: 18px;
  margin: 0;
}

/* line 74, ../sass/v50-text.scss */
h2.node-title {
  font-size: 28px;
}

/* line 78, ../sass/v50-text.scss */
h3 {
  font-size: 21px;
}

/* line 82, ../sass/v50-text.scss */
h4 {
  font-size: 19px;
}

/* line 86, ../sass/v50-text.scss */
h5 {
  font-size: 17px;
}

/* line 90, ../sass/v50-text.scss */
h6 {
  font-size: 15px;
}

/* line 94, ../sass/v50-text.scss */
ol {
  list-style: decimal;
}

/* line 98, ../sass/v50-text.scss */
ul {
  list-style: disc;
}

/* line 102, ../sass/v50-text.scss */
ul ul,
ol ol {
  padding-top: 0.5em;
}

/* line 107, ../sass/v50-text.scss */
.node ol,
.node ul {
  padding-left: 1.2em;
}

/* line 112, ../sass/v50-text.scss */
.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

/* line 117, ../sass/v50-text.scss */
p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {
  margin-bottom: 20px;
}

/* line 122, ../sass/v50-text.scss */
dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

/* line 127, ../sass/v50-text.scss */
dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
