/*@import "singularitygs";







body {

	font-size: $font-size;
	background: $rand;

	.main {
		width: 960;
		margin: 0 auto;
	}
}


.main-menu {
	@include grid-span (6,1)	
}
.content {
	@include grid-span (3,4)
}

/**
body {
   min-width: 960px;
}

#page{
    margin: 0 5px;
    overflow: hidden;
}

#region-branding{
    width: auto;
}

.container-20 {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#region-header-first{
    position: static;
    width: 100%;
}

.zone-header .logo-img { 
    padding-top: 35px;
}

.zone-header .logo-img img{
	width: 100%;
	height:auto;
	max-width: 300px;
}
.block-menu-header-left {
    background-position: -3px 0;
    float: right;
    margin-top: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
}

.block-menu-header-left ul { 
    padding: 2px 45px;
}

.block-menu-header-menu {
    padding-top: 22px;
    width: 100%;
}

.block-menu-header-menu ul li.leaf {
    float: left;
    list-style-image: none;
    list-style-type: none;
    margin: 0 0 5px;
    padding: 0;
    width: 100%;
}
.block-menu-header-menu li a{
	font-size: 12px;
        padding: 5px !important;
        text-align: center;
}

#main-menu li{
	border: none;
	width: 100%;
}

.region-menu #block-search-form {
    background: none repeat scroll 0 0 #292929;
    margin: 0;
    padding: 5px 0 10px;
    width: 100%;
}
.region-menu #search-block-form .form-item-search-block-form {
    padding-left: 10px;
}

#region-slideshow,
#zone-footer,
#region-footer-first,
#region-menu {
    height: auto;
	width: 100%;
}

+.sideshow-text { 
    width: 100%;
}

.sideshow-text > span { 
    padding: 10px;
}


.sideshow-text h2 {
    font-size: 24px; 
    line-height: 22px;
    padding-bottom: 14px;
}

