@import "singularitygs";
@import "breakpoint";


// Color Pallette
$Land_Blue: #1d2d5b;
$Convo_DK:#1d2d5b
$Convo_LT: #556b9a;
$Land_Grey: #b6b6b8;
$Comm_Grey: #bebebe;
$S_Show: #c2c8d2;
$Future: #c9c9c9;
$S_Incu: #ebecf0;
$S_Summits: #e0e0e0;


// Titles
$S_Summit_Text: #29476b;
$Convo_Past_Text: #c9c9c9;
$Comm_Text: #ffffff;
$SSF_Text: #29476b;




