@import "singularitygs";
@import "breakpoint";

$grids: 12;
$gutters: 1em;
$gutter-styles: 'split';

$breakpoint-desktop: 900px;



//V50 Grid

#vgrid {
	@include grid-span(12,1);
	@include breakpoint($breakpoint-desktop);
	

.vheader {
	
	width: 100%;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
	}
	
	.logo {
	background-color: none;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,2);
		}
	}
	
.menu {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(8,4);
		
	}
}
	
.social_top {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,9);
	}
	
}

.v50vid_wrap{
	width: 900px;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		
	}
}

.v50video {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,3);
		
	}
}

.links {
	
	width: 900px;
	margin-right: 100%;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
	}
.link_wrap {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(8,3);
		}
	}

.summits_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,4);
		}
	}
	
	.incu_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,6);
		}
	}
	
	.show_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,8);
		
	} 
}
	
.summits {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
}

.summits_title {
	
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}
	.national {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,3);
	}
}


	.community_s {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,7);
	}	
}

.join_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}

.join {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}	
}

	.story {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,3);
	}
}


	.reconnect {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,7);
	}	
}	

.social_share_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}

.social_share {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.share1 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,3);
	}
}

.share2 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,6);
	}
}
.share3 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,9);
	}
}

.share4 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,3);
	}
}

.share5 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,6);
	}
}

.share6 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,9);
	}
}

.organize_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}

.organize {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.tools {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,3);
	}
}



.help_desk {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,7);
	}
}

.incubator_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}

.incubator {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.incu_works_img {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
	}
}

.incu_works {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(5,6);
	}
}

.showcase_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}

.showcase {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.case_img {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
	}
}

.case_works {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(5,6);
	}
}

.past {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}



.past_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}
	


.photos_wrap {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.photo_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}

.photos {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.video_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}

.past_videos {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.past_video1 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}
.past_video2 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,4);
	}
}
.past_video3 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,7);
	}
}

.audio_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}

.audio_wrap {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.audio1 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,4);
	}
}

.audio2 {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,7);
	}
}

.audio3 {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,4);
	}
}

.audio4 {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,7);
	}
}

.audio5 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,4);
	}
}

.audio6 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,7);
	}
}

.poster_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,6);
		}
}

.posters_wrap {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.posters {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,4);
	}
}

.future_title {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,2);
		}
}

.future {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.donate_info {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,3);
	}
}

.pay {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,7);
	}
}


.footer_area {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.footer_logo1 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,2);
	}
}

.footer_logo2 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,4);
	}
}

.footer_menu_rt {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,6);
	}
}

.footer_menu_lt {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,8);
	}
}

.social_bottom {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,10);
	}
}


}


