@import "singularitygs";
@import "breakpoint";
@import "variables.scss";

$grids: 12;
$gutters: 1em;
$gutter-styles: 'split';

$breakpoint-desktop: 900px;

img {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
}

video {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
}

// inner wrapper for sections
.v50interior {
margin-top: 100px;
margin-bottom: 100px;
@include breakpoint($breakpoint-desktop){
		width:900px;
		margin-left: auto;
		margin-right: auto;
		}
	}
	

.v50texture {
	background-image: url('/sites/default/files/texture.png');
}

//V50 Grid

#vgrid {
	@include grid-span(12,1);


.vheader {
	
	width: 100%;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
	}
	
	.logo {
	background-color: none;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,2);
		}
	}
	
.menu {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(8,4);
		
	}
}
	
.social_top {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(3,9);
	}
	
}

#v50vid_wrap{
background-color: $v50grey;
	@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		
	}
}

.v50video {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		
	}
}

#links {
@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
	}
	
.link_wrap {
text-align: center;
background-color: $v50grey;
padding: $v50basePadding;
@extend .v50texture;
	}

.summits_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,1);
		}
	}
	
.incu_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,5);
		}
	}
	
.show_link {
	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,9);
		
	} 
}
	
// summits
#summits {
background-color: $v50grey;
color: $v50blue;
@extend .v50texture;	
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
		}
}

// left
	.national {
	color: $v50Dkgrey;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}

// right
	.community_s {
	color: $v50Dkgrey;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}	
}

// join

#join {
color: $v50white;
background-image: url('/sites/default/files/social_bg.png');
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}	
}

	.story {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}


	.reconnect {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}	
}	


#social_share {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

	.twitterWrap {
			@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
		
	}
	}
	.facebookWrap {
			@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
		
	}
	}

.share1, .share4 {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,1);
	}
}

.share2, .share5 {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,5);
	}
}
.share3, .share6 {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,9);
	}
}

// Organize
#organize {
color: $v50blue;
background-color: $v50grey;
@extend .v50texture;
clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.organize_lt {

clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,1);
	}
}

.organize_rt {

clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(8,5);
	}
}

.tools {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}


.help_desk {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}
}


// Incubator
#incubator {
color: $v50white;
@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.incu_works_img, .case_img {

	text-align: center;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,1);
	}
}

.incu_works, .case_works {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(8,5);
	}
}


#showcase {
color: $v50blue;
background-color: $v50grey;
@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

#past {
@extend .v50texture;
color: $v50white;
clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}



.pastWrap{
	background-image: url('/sites/default/files/white_lines.png');
	padding:40px;
}



.pastInner {
clear:both;
padding: $v50basePadding;
background-color: $v50Dkgrey;
@extend .v50texture;
h5 {
	margin-bottom: 0px;
	margin-top: $v50basePadding;
}
}


.past_video1 {
clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}
.past_video2 {
margin-top: $v50basePadding;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}
.past_video3 {
margin-top: $v50basePadding;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}
}


.audio_wrap {
clear:both;
@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.audio1, .audio3, .audio5 {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}

.audio2, .audio4, .audio6 {

	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}
}


.posters_wrap {
clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.posters {
clear:both;
@extend .v50texture;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

#future {
color: $v50blue;
background-color: $v50grey;
@extend .v50texture;
clear:both;
	@include breakpoint($breakpoint-desktop){
		@include grid-span(12,1);
	}
}

.donate_info {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}

.pay {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}
}

.footer_area {
background-color: $v50Dkgrey;
padding-top: $v50basePadding;
padding-bottom: $v50basePadding;
// inner wrapper for footer
.v50footerInterior {
@include breakpoint($breakpoint-desktop){
		width:900px;
		margin-left: auto;
		margin-right: auto;
		}
	}
}

.footer_logo1 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,1);
	}
}

.footer_logo2 {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(2,3);
	}
}

.footer_menu {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,5);
	}
}
.footer_menu_rt {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,1);
	}
}

.footer_menu_lt {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(6,7);
	}
}

.social_bottom {
	@include breakpoint($breakpoint-desktop){
		@include grid-span(4,9);
	}
}
}
//end v50

