@import "grid.scss";


$grid: 12;
$gutter: 1/3;



body {

	//font-size: $font-size;
	//background: $rand;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.logo {
	float: right;
	background-color: none;
	display: block;
}

.menu {
	background: #556b9a;
	color: #fff;
	display: inline;
	font-family: "League Gothic", google fonts;
}


	

.vgrid {
	background: #b6b6b8;
	background-image: url('/sites/default/files/texture.png'); 
}

.vheader {
	background: #b6b6b8;
	background-image: url('/sites/default/files/texture.png'); 
}


.section-header {
	background: #b6b6b8;
	background-image: url('/sites/default/files/texture.png'); 
}


.section-content {
	background: #1d2d5b;
	background-image: url('/sites/default/files/texture.png'); 
	
}

.section-footer {
	background: #bbbdbf
}

.social_top {
	background-image: url('/sites/default/files/white_lines.png');		
}

.v50vid_wrap{
	background-color: #b6b6b8;
	background-image: url('/sites/default/files/texture.png');
	width: 100%;

}

.v50video {
	background-image: 
url('/sites/default/files/IMAGES/homepage_images/Video_Slider_Background.png'),
url('/sites/default/files/texture.png');
	
}

.links {
	background-color: #1d2d5b;
	background-image: url('/sites/default/files/texture.png');
	width: 900px;
	margin-right: 100%;
}

.link_wrap {
	background-color: #b6b6b8;
	background-image: url('/sites/default/files/texture.png');
}

.summits_link {
	background-color: #b6b6b8;
	background-image: url('/sites/default/files/white_lines.png');
	
}
	
.incu_link {
	background-color: #b6b6b8;
	background-image: url('/sites/default/files/white_lines.png');
	
}
	
.show_link {
	background-color: #b6b6b8;
	background-image: url('/sites/default/files/white_lines.png');

	
}
	
.summits {

	background-color: #e0e0e0;
	background-image: url('/sites/default/files/texture.png');
	
}

.summits_title {
	color: #29476b;
	
	
	
}
	.national {
	background-color: none;
	
}


	.community_s {
	background-color: none;
	
}


.join {
	background-color: blue;
	
}

	.story {
	background-color: none;
	
}


	.reconnect {
	background-color: none;
	
}	

.social_share {
	background-color: green;
	
}

.share1 {
	background-color: aqua;
	
}

.share2 {
	background-color: aqua;
	
}
.share3 {
	background-color: aqua;
	
}

.share4 {
	background-color: blue;
	
}

.share5 {
	background-color: blue;
	
}

.share6 {
	background-color: blue;
	
}

.organize {
	background-color: #bebebe;
	background-image: url('/sites/default/files/texture.png');
	
}

.tools {
	background-color: none;
	
}

.help_desk {
	background-color: none;
	
}

.incubator {
	background-color: #ebecf0;
	background-image: url('/sites/default/files/texture.png');
}

.incu_works_img {
	background-color: none;
}

.incu_works {
	background-color: none;
}


.showcase {
	background-color: #c2c8d2;
	background-image: url('/sites/default/files/texture.png');
}

.case_img {
	background-color: none;
}

.case_works {
	background-color: none;
}

.past {
	
	background-color:#341563;
	background-image: url('/sites/default/files/texture.png');
}

.past_title {
	color: #29476b;
}



.photos {
	background-color: red;
	
}

.past_videos {
	background-color: #23335F;
	
}

.past_video1 {
	background-color: fuchsia;
	
}
.past_video2 {
	background-color: fuchsia;
	
}
.past_video3 {
	background-color: fuchsia;
	
}

.audio_wrap {
	background-color: #23335F;
	
}

.audio1 {
	background-color: green;
	
}

.audio2 {
	background-color: green;
	
}

.audio3 {
	background-color: green;
	
}

.audio4 {
	background-color: green;
	
}

.audio5 {
	background-color: green;
	
}

.audio6 {
	background-color: green;
	
}

.posters_wrap {
	background-color: #23335F;
	
}

.poster_title {
	background-color: #23335F;	
}


.posters {
	background-color: blue;
}

.future {
	background-color: #c9c9c9;
	background-image: url('/sites/default/files/texture.png');
	
}

.donate_info {
	
	background-color: none;
	
}

.pay {
	border-color: #ec3e3b;
	border-style: solid;
	border-width:30px;
	
}


.footer_area {
	background-color: #424144;
	
}

.footer_logo1 {
	
}

.footer_logo2 {
	

}

.footer_menu_rt {
	
}
.footer_menu_lt {
	
}

.social_bottom {
	background-color: none;
	
}


