@import "grid.scss";


body {

	//font-size: $font-size;
	//background: $rand;

}
.block-main-menu {
	background: #184778;
	@include grid-span(12,1);

}
.content  {
	//background: $rand; 
}

.section-header {
	background: #b6b6b8;
	background-image: url('sites/default/files/texture.png'); 
}

.section-content {
	background: #1d2d5b;
	@include grid-span(12,1);
}

.zone-future-wrapper {
	background: #b6b6b8;
}
.section-footer {
	}
